html(lang="en")
    head
        meta(charset="utf-8")
        title Intergalactic Labs
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Titillium+Web" rel="stylesheet" type="text/css")
        link(href="/normalize.css" rel="stylesheet" type="text/css")
        link(href="/skeleton.css" rel="stylesheet" type="text/css")
        link(href="/images/flaticon.css" rel="stylesheet" type="text/css")
        link(href="/intergalacticlabs.css" rel="stylesheet" type="text/css")

    body
        .container
            .row.splash
                .twelve.columns.u-textAlignCenter
                    div(style="background: url('/images/IntergalacticLabs3.png') no-repeat center; background-size: contain; height: 80vh; max-width: 600px; margin: auto;")
                    .tagline(style="height: 20vh;")
                        a.down(href="#about")
                            div Goodbye Earth
                            div ▼
            .row
                .twelve.columns.u-textAlignCenter
                    h3#about A community for <a href="#golden">golden</a> future

        .wow
            .container
                .row
                    .four.columns.u-textAlignCenter
                        a(href="#lunarbase")
                            .feature.u-max-full-width(style="background-image: url('/images/spacesuit-gold.png')")
                            h4 Lunar Infrastructure
                        p
                            | We are building roads and power grids on the moon for research stations.
                            | The goal is to give scientists and private space companies the utilities they need to extend
                            | their operations to the moon.
                        a(href="#lunarbase") Read More
                    .four.columns.u-textAlignCenter
                        a(href="#openecosystem")
                            .feature.u-max-full-width(style="background-image: url('/images/leaf-fractal-gold.png')")
                            h4 Open Ecosystem
                        p
                            | We are open-sourcing a
                            | <strong>next-generation human sustenance program</strong>
                            | built for bringing the best of earth to the rest of the galaxy.
                        a(href="#openecosystem") Read More
                    .four.columns.u-textAlignCenter
                        a(href="#experimentalphysics")
                            .feature.u-max-full-width(style="background-image: url('/images/wormhole-gold.png')")
                            h4 Physics
                        p
                            | Conventional propulsion might not be enough to
                            | extend human presence beyond our solar system.  We are trying to
                            | <strong>understand and manipulate gravity and space-time</strong>
                            | so that we can one day effortlessly traverse the universe.
                        a(href="#experimentalphysics") Read More
                .row
                    .twelve.columns.u-textAlignCenter
                        button.button-primary.button-join Follow Intergalactic Labs



        .container
            hr
            p.
                maybe a stupid quote from me or something from a new story

            hr
            .row#lunarbase
                h3 Lunar Infrastructure
                p.
                    roads n shit
                    screenshot of moon 3d viz and link to it

            .row#openecosystem
                h3 Open Ecosystem
                p.
                    def hackers will hack it
                    pictures
            .row#experimentalphysics
                h4 Experimental Physics
                p.
                    physics
                    imagination
            hr
            .row
                .twelve.columns
                    h3.u-textAlignCenter Questions or comments? <strong>Get in touch:</strong>
            .row
                .four.columns
                    ul.social
                        li
                            a.flaticon-twitter36(href="https://twitter.com/intergalacticlabs") twitter.com/intergalacticlabs
                        li
                            a.flaticon-youtube30(href="https://youtube.com/intergalacticlabs") youtube.com/intergalacticlabs
                        li
                            a.flaticon-facebook44(href="https://facebook.com/intergalacticlabs") facebook.com/intergalacticlabs
                        li
                            a.flaticon-google110(href="mailto:peter@intergalacticlabs.co") peter@intergalacticlabs.co
                            
            form.eight.columns(onsubmit="return feedback()")
                .row
                    .six.columns
                        input.u-full-width(type="text" name="contact-name" id="contact-name" placeholder="Name")
                    .six.columns
                        input.u-full-width(type="email" name="contact-email" id="contact-email" placeholder="Email")
                .row
                    .twelve.columns
                        textarea.u-full-width(name="contact-message" id="contact-message" placeholder="Message")
                .row
                    .twelve.columns
                        button(type="submit" id="contact-send") Send Message

            hr
            .row
                .twelve.columns.u-textAlignCenter
                    p © 2015 Intergalactic Labs

        .modal-backdrop
            .container.modal-subscribe
                h2 How do you want to subscribe?
                .row
                    form.six.columns
                        input.u-full-width(type="email" name="subscribe-email" id="subscribe-email" placeholder="Email")
                        button.button-primary.u-full-width(type="submit" id="subscribe-submit") Subscribe
                        button.button-inverse.u-full-width.modal-close Keep Reading


        script(src="/konami.js")
        script(src="/zepto.min.js")
        script(src="/intergalacticlabs.js")
