html
  head
    meta(name="viewport" content="initial-scale=1.0,  user-scalable=no")
    meta(charset="UTF-8")
    title Exploration Zone Builder
    link(href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Titillium+Web" rel="stylesheet" type="text/css")
    link(href="/normalize.css" rel="stylesheet" type="text/css")
    link(href="/skeleton.css" rel="stylesheet" type="text/css")
    link(href="/images/flaticon.css" rel="stylesheet" type="text/css")
    link(href="/intergalacticlabs.css" rel="stylesheet" type="text/css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')
    script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
    link(rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css")
    link(rel="stylesheet" type="text/css" href="/ez/ez.css")
  body
    pre#coordinates.ui-coordinates Lat: 50, Lon: 123, z: 8
    div#panel.container
      .row
        .bar
          .title
            | Elysium Expedition!!!
          .face(style="background-image: url(https://www.gravatar.com/avatar/3a21356135360f9e4b72ba546863d3de.jpg?d=mm);")
          .search
            i.flaticon-search100
      .row.edit.text
        .twelve.columns
          label(for="name")
          input.u-full-width(type="text" name="name" id="name" placeholder="Feature Name")
          label(for="description")
          textarea.u-full-width(name="description" id="description" placeholder="Feature Description")
          .row
            label.site-type.four.columns
              input(type="radio" name="type" value="science")
              span.label-body Science ROI
            label.site-type.four.columns
              input(type="radio" name="type" value="resource")
              span.label-body Resource ROI
            label.site-type.four.columns
              input(type="radio" name="type" value="landing")
              span.label-body Landing Site
      .row.edit.marker
        .twelve.columns
          .row
            .four.columns
              label(for="lng") Longitude
              input.u-max-full-width(type="number" name="lng" id="lng")
            .four.columns
              label(for="lat") Latitude
              input.u-max-full-width(type="number" name="lat" id="lat")
            .four.columns.radius
              label(for="radius") Radius
              input.u-max-full-width(type="number" name="radius" id="radius")
          .row
            label Vertical Position
              .row
                button Move Up
                button Move Down
          //- .row
          //-   label.public
          //-     input(type="checkbox" name="public" value="checked")
          //-     span.label-body Public
      .row.tabs
        .twelve.columns
          .options
            .row
              .option.option2.active.first
                | Text
              .option.option2
                | Marker
          .trash
            i.flaticon-rubbish
          .done
            i.flaticon-check52
          
        
    div#map
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js')
    script(src="/zepto.min.js")
    script(src="/lodash.min.js")
    script(type="text/javascript" src="/ez/main.js")
