html
  head
    meta(name="viewport" content="initial-scale=1.0,  user-scalable=no")
    meta(charset="UTF-8")
    title Exploration Zone Builder
    link(href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Titillium+Web" rel="stylesheet" type="text/css")
    link(href="/normalize.css" rel="stylesheet" type="text/css")
    link(href="/skeleton.css" rel="stylesheet" type="text/css")
    link(href="/images/flaticon.css" rel="stylesheet" type="text/css")
    link(href="/intergalacticlabs.css" rel="stylesheet" type="text/css")
    script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
    link(rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css")
    link(rel="stylesheet" type="text/css" href="/ez/ez.css")
  body
    pre#coordinates.ui-coordinates Lat: 50, Lon: 123, z: 8
    div#panel.container
      .row
        .bar
          .title
            | Elysium Expedition
          .face(style="background-image: url(/images/spacesuit-profile.jpg);")
          .search
            i.flaticon-search100
      .row.edit.text(style="display:none")
        .twelve.columns
          label.name(for="name")
          input.name.u-full-width(type="text" name="name" id="name" placeholder="Feature Name")
          label.description(for="description")
          textarea.description.u-full-width(name="description" id="description" placeholder="Feature Description")
          .row.featuretype
            label.site-type.four.columns
              input.science(type="radio" name="type" value="science")
              span.label-body Science ROI
            label.site-type.four.columns
              input.resource(type="radio" name="type" value="resource")
              span.label-body Resource ROI
      .row.edit.marker(style="display:none")
        .twelve.columns
          .row
            .four.columns.lng
              label(for="lng") Longitude
              input.u-max-full-width(type="number" name="lng" id="lng")
            .four.columns.lat
              label(for="lat") Latitude
              input.u-max-full-width(type="number" name="lat" id="lat")
            .four.columns.radius
              label(for="radius") Radius (m)
              input.u-max-full-width(type="number" name="radius" id="radius")
          .row.point-image
            label Marker
            a.marker(data-marker="yellow")
              img.marker(src="/images/maki/marker-yellow-24.svg", alt="")
            a.marker(data-marker="blue")
              img.marker(src="/images/maki/marker-blue-24.svg", alt="")
            a.marker(data-marker="white")
              img.marker(src="/images/maki/marker-white-24.svg", alt="")
            a.marker(data-marker="red")
              img.marker(src="/images/maki/marker-red-24.svg", alt="")
            a.marker(data-marker="black")
              img.marker(src="/images/maki/marker-24.svg", alt="")
            a.marker(data-marker="base")
              img.marker(src="/images/maki/base-yellow-24.svg", alt="")
            a.marker(data-marker="landing")
              img.marker(src="/images/maki/rocket-yellow-24.svg", alt="")
          .row.color
            .yellow(style="background-color: #dcb439; border: 1px solid #dcb439")
            .blue(style="background-color: #6e98bc; border: 1px solid #6e98bc")
            .white(style="background-color: #e0e0e0; border: 1px solid #909090")
            .red(style="background-color: #dc4f39; border: 1px solid #dc4f39")
            .black(style="background-color: #000; border: 1px solid #000")
          .row
            label Vertical Position
              .row
                button Move Up
                button Move Down
          //- .row
          //-   label.public
          //-     input(type="checkbox" name="public" value="checked")
          //-     span.label-body Public
      .row.edit.general(style="display:none")
        .twelve.columns
          label(for="ez-title") Exploration Zone Name
          input.ez-title.u-full-width(name="ez-title" id="ez-title" type="text" placeholder="Exploration Zone Title" value="Elysium Expedition")
          .row
            .four.columns
              label(for="ez-lng") Longitude
              input.u-max-full-width(type="number" name="ez-lng" id="ez-lng" value="5")
            .four.columns
              label(for="ez-lat") Latitude
              input.u-max-full-width(type="number" name="ez-lat" id="ez-lat" value="150")
          label(for="ez-description") Description
          textarea.ez-description.u-full-width(name="ez-description" id="ez-description")
          label.email(for="email") Email (optional, for gravatar)
          input.email.u-full-width(type="email" name="email" id="email")
          label.ez-link Share
          a.link.u-full-width
          label(for="ez-load") Load Exploration Zone
          select.ez-load.u-full-width
          button.ez-new Create New
      .row.tabs(style="display:none")
        .twelve.columns
          .options
            .row
              .option.option2.active.first.option-text
                | Text
              .option.option2.option-marker
                | Feature
          .trash
            i.flaticon-rubbish
          .done
            i.flaticon-check52
      .saveText
          
        
    div#map
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js')
    script(src="/zepto.min.js")
    script(src="/lodash.min.js")
    script(src="/md5.js")
    script(type="text/javascript" src="/ez/editor.js")
    if DEBUG
      script.
        COSM.DEBUG = true;
    script(type="text/javascript" src="/ez/main.js")
