html
  head
    meta(name="viewport" content="initial-scale=1.0,  user-scalable=no")
    meta(charset="UTF-8")
    title Exploration Zone Builder
    link(href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Titillium+Web" rel="stylesheet" type="text/css")
    link(href="/normalize.css" rel="stylesheet" type="text/css")
    link(href="/skeleton.css" rel="stylesheet" type="text/css")
    link(href="/images/flaticon.css" rel="stylesheet" type="text/css")
    link(href="/intergalacticlabs.css" rel="stylesheet" type="text/css")
    script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
    link(rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css")
    link(rel="stylesheet" type="text/css" href="/ez/ez.css")
  boxy
    div#panel.container
      .row
        .bar
          .title
            | Elysium Expedition
          .face(style="background-image: url(https://www.gravatar.com/avatar/3a21356135360f9e4b72ba546863d3de.jpg?d=mm);")
          .search
            i.flaticon-search100
      .row.edit
        .twelve.columns
          input.u-full-width(type="text" name="name" id="name" placeholder="Feature Name")
          textarea.u-full-width(name="description" id="description" placeholder="Feature Description")
      .row.tabs
        .twelve.columns
          .trash
            i.flaticon-rubbish
          .done
            i.flaticon-check52
          .options
            .row
              .option.option2.active.first
                | Text
              .option.option2
                | Color
          
        
    div#map
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js')
    script(type="text/javascript" src="/ez/main.js")
